header,footer{
    height: 70px;
    border: 1px dashed red;
    background-color: #7430F9;
}
footer{
    height: 270px;
    background-color: #F8F9FA;
}
main{
    height: 1000px;
    border: 1px dashed green;
}
.s_cont{
    border: 1px dashed blue;
}
.tbdr{
    border: 1px dashed black;
}

